@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  background-color: #333;
  
  color: #fafafa;
  font-family: 'Bebas Neue', cursive;
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px black;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  margin: 20px;
}

.hero img {
  border-radius: 20px;
}