@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  
  color: #000;
  font-family: 'Bebas Neue', cursive;

  overflow-x: hidden;
}

header h1 {
  width: 100%;
  top: 0;
  padding: 5px;
  background-color: #f0131e;
  text-align: center;
  font-size: 3rem;
  color: #FFF;
  text-shadow: 2px 2px #000;
}

header img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.filter {
  height: 80vh;
  background-image: url('https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-position: center;
}

.vertical-filter {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 15%, transparent 99%);
}

.title {
  margin-left: 40px;
  margin-top: -200px;
  margin-bottom: 130px;
  font-size: 3rem;
  width: fit-content;
  color: #FFF;
  text-shadow: 2px 2px #000;
}

.title:hover {
  text-decoration: underline;
}

#container {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: -150px;
}

.slider {
  margin: 0 auto;
  width: 97%;
  height: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider div {
  width: 10%;
  height: 100%;
  object-fit: cover;
}

#previous, #next {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 270px;
  top: 15px;
  z-index: 20;
}

#next {
  right: 0;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  border-radius: 20px;
  
  margin: 25px;
  padding: 0;
  width: 170px;
  height: auto;
}

.hero img {
  border-radius: 20px;
  width: 170px;
}

.hero p {
  position: absolute;
  background: #FFF;
  max-width: 120px;
  text-align: center;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* MOBILE */
@media screen and (max-width: 720px) {
  header h1 {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .filter {
    height: 45vh;
  }

  .slider {
    width: 100%;
  }

  .slider div:first-child {
    padding-left: 60px;
  }

  .slider div:last-child {
    padding-right: 100px;
  }

  .hero {
    margin-right: 115px;
  }
}